@use "./color" as COLOR;

$GLOBAL-BORDER: 3px solid COLOR.$GLOBAL-COLOR-LIGHT !default;
$GLOBAL-BORDER-HOVER: 0 0 10px 1px darken(COLOR.$GLOBAL-COLOR-SECONDARY, 20) !default;
$GLOBAL-BOX-SHADOW: 0 0 10px 1px COLOR.$GLOBAL-COLOR-SECONDARY !default;
