//MARKETING
$GLOBAL-COLOR-PRIMARY: #D82C4B !default;
$GLOBAL-COLOR-SECONDARY: #494C55 !default;
$GLOBAL-COLOR-TERTIARY: #D9D9D9 !default;

//BASIC
$GLOBAL-COLOR-DARK: #000000 !default;
$GLOBAL-COLOR-LIGHT: #FFFFFF !default;
$GLOBAL-COLOR-GREY: darken($GLOBAL-COLOR-LIGHT, 5) !default;

//FONT-COLOR
$GLOBAL-FONT-COLOR: $GLOBAL-COLOR-DARK !default;
