//FONT-FAMILY
$GLOBAL-FONT-FAMILY: 'Raleway', sans-serif !default;
$GLOBAL-FONT-FAMILY-TIMER: maShanZheng, sans-serif !default;

//FONT-WEIGHT
$GLOBAL-FONT-WEIGHT: 400 !default;
$GLOBAL-FONT-WEIGHT-BOLDER: 600 !default;
$GLOBAL-FONT-WEIGHT-BOLD: 800 !default;

//FONT-SIZE
$GLOBAL-FONT-SIZE: 1rem !default;
$GLOBAL-FONT-SIZE-S: 0.8rem !default;
$GLOBAL-FONT-SIZE-L: 1.5rem !default;
$GLOBAL-FONT-SIZE-XL: 2.5rem !default;
