@font-face {
  font-family: "pokemon";
  src: url("../assets/fonts/pokemon.ttf") format('truetype'),
      url("../assets/fonts/pokemon.woff") format('woff'),
      url("../assets/fonts/pokemon.woff2") format('woff2');
}

.c-details {
  border-radius: 6px;
  background-color: #1d2023;
  outline: 20px solid #192653;
  box-sizing: border-box;
  box-shadow: 0 0 20px 15px black;
  padding: 36px;
  position: relative;
}

.c-details__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -4px;
  border-bottom: 3px solid #f15613;
}

.c-details__close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.c-details__title {
  font-family: "pokemon", serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  letter-spacing: 4px;
  color: #ffcb05;
  text-shadow: -3px -3px 0 #2a73b4, 3px -3px 0 #2a73b4, -3px 3px 0 #2a73b4, 3px 3px 0 #2a73b4;
  transform: translate(0px, -10px);

  &:first-letter {
    text-transform: capitalize;
  }
}

.c-details__btn {
  width: 100%;
  font-size: 1.5rem;
  padding: 12px 0;
  background-color: #f15613;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
}

.c-details__btn--disabled {
  opacity: 0.5;
  background-color: grey;
}

svg {
  fill: white;
  width: 48px;
}
